.menu {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 100px;
}
.menu__title {
  max-width: 800px;
  margin: 100px auto 0 auto;
}
.menu__subtitle {
  max-width: 800px;
  margin: 24px auto 100px auto;
}
.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  align-self: center;
  margin-bottom: 100px;
  padding: 0;
}

.menu__card_filter {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 540px;
}
.menu__card_express {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  width: 540px;
}
.menu__card_bakery {
  grid-column: 1 /3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.menu__card_title {
  padding-left: 40px;
  width: 495px;
  margin: 0px 0px 32px;
  padding: 0;
}
.menu__card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  width: 495px;
  margin: 0px;
  padding: 0;
}
.menu__card_list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 495px;
  margin: 0px 0px 16px;
}
.menu__card_list-item:last-of-type {
  margin-bottom: 0px;
}
.menu__card_list-divider {
  border-bottom: 1px solid #000;
  flex-grow: calc(1);
}
